@font-face {
    font-family: 'Raleway';
    src: url('~@/assets/fonts/Raleway/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
        url('~@/assets/fonts/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/Raleway/Raleway-Regular.woff') format('woff'),
        url('~@/assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('~@/assets/fonts/Raleway/Raleway-ExtraBold.eot');
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
        url('~@/assets/fonts/Raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
        url('~@/assets/fonts/Raleway/Raleway-ExtraBold.woff') format('woff'),
        url('~@/assets/fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('~@/assets/fonts/Raleway/Raleway-Medium.eot');
    src: local('Raleway Medium'), local('Raleway-Medium'),
        url('~@/assets/fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
        url('~@/assets/fonts/Raleway/Raleway-Medium.woff') format('woff'),
        url('~@/assets/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('~@/assets/fonts/Raleway/Raleway-SemiBold.eot');
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
        url('~@/assets/fonts/Raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
        url('~@/assets/fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
        url('~@/assets/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('~@/assets/fonts/Raleway/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('~@/assets/fonts/Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
        url('~@/assets/fonts/Raleway/Raleway-Bold.woff') format('woff'),
        url('~@/assets/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}